2017-topics-controversy.aux
2017-topics-controversy.bbl
2017-topics-controversy.bcf
2017-topics-controversy.blg
2017-topics-controversy.fdb_latexmk
2017-topics-controversy.fls
2017-topics-controversy.idx
2017-topics-controversy.ilg
2017-topics-controversy.ind
2017-topics-controversy.log
2017-topics-controversy.run.xml
